.jumbotron {
  margin-top: 10px;
  background-color: #ecf0f1;
}
.content {
  padding-top: 10%;
  text-align: center;
}
.navbar-dark {
  background: black !important;
}
.navbar-dark .navbar-nav > li > a {
  color: white;
}
.navbar-dark .navbar-brand {
  color: #671b1b;
  font-size: 45px;
}
